.widget-title{
    padding-top: 10px;                            /* marge interne au dessus du titre */
}
.widget.flux{
    border: 10px solid dimgrey;                   /* bordure Largeur type couleur */
    border-style: double;                         /* style de la bordure */
    border-radius: 15px;                          /* arrondissement des angles widget */
    background-color: rgba(226, 226, 226, 1);     /* couleur de fond */   
}
.conteneur{
  
    height: 200px;                                /* Hauteur */
    overflow-y: auto;                             /* barre scroll vertical si besoin */
    background-color: #ffffff;                    /* couleur de fond de l'affichage des flux*/
    border-radius: 10px;                     /* arrondissement des bords du conteneur de flux */
    width:100% !important;
}
.conteneur li{
    padding: 5px;                                 /* marge interne */
    margin: 0;                                    /* marge */
    border: 1px;                                  /* bordure */
    border-color: black;                          /* couleur de la bordure */ 
}
.conteneur::-webkit-scrollbar {                 
    display: none;                              /* efface la scrollbar du conteneur de flux */
}
.themeAdjust{
    overflow: hidden;                           /* dépassements masqués */
    margin: 20px 0% 19px 0% !important;         /* marge Top Right Bottom Left */
    width: 100% !important;                     /* largeur */
}
